.title-text-left {
  -fx-fill: "#ff0000";
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

.title-text-right {
  -fx-fill: black;
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  
}


.btn-explore {
  -fx-background-color: "#FBFFDC";
  -fx-text-fill: "#323232";
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-min-width: 171px;
  -fx-min-height: 38px;
  -fx-background-radius: 42px;
  -fx-cursor: hand;
}

.btn-explore:hover {
  -fx-background-color: #c20720; /* Warna latar belakang button saat dihover */
}
